@use 'tailwindcss';
@import 'leaflet/dist/leaflet.css';
@import '@fontsource-variable/roboto';

@theme {
  /* Custom Colors */
  --color-search-input: #242c3b;
  --color-table-country: #282f3e;
  --color-table-data: #606060;

  --font-roboto:
    'Roboto Variable', 'Roboto', ui-sans-serif, system-ui, sans-serif;

  /* Custom Letter Spacing */
  --letter-spacing-search: -0.41px;

  /* Custom Focus Shadow para el search input */
  --box-shadow-search-focus: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.map-container {
  height: 400px;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .map-container {
    height: 500px;
  }
}
